<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
            <a class="nav-item nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    </div>
</nav>